body {
  background-image: url(./aditya-chinchure.jpg) ;
  
  color: white;
}
form {
  margin-left: 15%;
  margin-right: 15%;
}
legend {
  color: rgb(175, 175, 240);
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
fieldset {
  border-radius: 15px;
}

#reservation {
  background-color: rgba(0, 0, 0, 0.79);
  display: block;
  padding: 3%;
  margin: 5%;
}

#options {
  background-color: rgba(0, 0, 0, 0.79);
  display: none;
  padding: 3%;
  margin: 5%;
}

#coordonnees {
  background-color: rgba(0, 0, 0, 0.79);
  display: none;
  text-align: center;
  padding: 3%;
  margin: 5%;
}

.coordonnees {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.coordonnees input {
  height: 20px;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 10px;
}
.bouton1S,
.bouton2S {
  cursor: pointer;
  background-color: rgb(60, 78, 109);
  height: 20px;
  width: 60px;
  text-align: center;
  margin-top: 2%;
}

.bouton1R,
.bouton2R,
.bouton3R {
  cursor: pointer;
  background-color: rgb(60, 78, 109);
  height: 20px;
  width: 60px;
  text-align: center;
  margin-top: 2%;
}

#pass1jourDate,
#pass2joursDate,
#pass3joursDate {
  display: none;
  margin-left: 50px;
}

.bouton {
  margin-top: 50px;
  height: 40px;
  width: 250px;
  align-self: end;
  margin-right: 10%;
}

#casqueEnfant {
  display: none;
}
